.color-000 {
   color:#FFF8E1;
}

.color-100 {
   color:#FFECB3;
}

.color-200 {
   color:#FFE082;
}

.color-300 {
   color:#FFD54F;
}

.color-400 {
   color:#FFCA28;
}

.color-500 {
   color:#FFC107;
}

.color-600 {
   color:#FFB300;
}

.color-700 {
   color:#FFA000;
}

.color-800 {
   color:#FF8F00;
}

.color-900 {
   color:#FF6F00;
}

.color-a100 {
   color:#FFE57F;
}

.color-a200 {
   color:#FFD740;
}

.color-a400 {
   color:#FFC400;
}

.color-a700 {
   color:#FFAB00;
}