$color-000:#FFF8E1;
$color-100:#FFECB3;
$color-200:#FFE082;
$color-300:#FFD54F;
$color-400:#FFCA28;
$color-500:#FFC107;
$color-600:#FFB300;
$color-700:#FFA000;
$color-800:#FF8F00;
$color-900:#FF6F00;
$color-a100:#FFE57F;
$color-a200:#FFD740;
$color-a400:#FFC400;
$color-a700:#FFAB00;