$color-000:#E1F5FE;
$color-100:#B3E5FC;
$color-200:#81D4FA;
$color-300:#4FC3F7;
$color-400:#29B6F6;
$color-500:#03A9F4;
$color-600:#039BE5;
$color-700:#0288D1;
$color-800:#0277BD;
$color-900:#01579B;
$color-a100:#80D8FF;
$color-a200:#40C4FF;
$color-a400:#00B0FF;
$color-a700:#0091EA;