/*
.color-000 {
   color:;
}

.color-100 {
   color:;
}

.color-200 {
   color:;
}

.color-300 {
   color:;
}

.color-400 {
   color:;
}

.color-500 {
   color:;
}

.color-600 {
   color:;
}

.color-700 {
   color:;
}

.color-800 {
   color:;
}

.color-900 {
   color:;
}

.color-a100 {
   color:;
}

.color-a200 {
   color:;
}

.color-a400 {
   color:;
}

.color-a700 {
   color:;
}
*/